@import "../../styles/vars_module.scss";

.YesNoContainer {
  width: auto;
  input {
    padding: $button-padding;

    background: white;
    color: $primary-color;
    cursor: pointer;
    border: 1px solid $primary-color;
  }

  input:hover {
    background: $primary-color;
    color: white;
  }

  input:first-child {
    border-radius: 10px 0 0 10px;
    border-right: none;
  }

  input:last-child {
    border-radius: 0px 10px 10px 0px;
  }

  .active {
    background: $primary-color;
    color: white;
  }
}

.YesNoContainer:focus {
  outline: none;
}
