$grid-gap: 18px;
$nav-footer-padding: 10px;
$background-color-darkmode: rgb(17, 17, 17);
$background-color: rgb(240, 240, 240);

$primary-font: NBAkademie-Regular, "space mono";
$header-font: NBAkademie-Regular, "Helvetica Neue", neue-haas-unica;

$font-accent: rgb(218, 45, 68);
$font-black: rgba(0, 0, 0, 0.8);
$font-black-darkmode: rgb(240, 240, 240);

$em-font-size: 19px;
$h5-font-size: 19px;
$body-font-size: 18px;
$caption-font-size: 14px;

$body-letter-spacing: -0.01rem;

$mobile-nav-font-size: 18px;
$mobile-body-font-size: 16px;
$mobile-line-height: 1rem;

$custom-cursor: url("/static/pointer.png") 64 50, pointer;

$landing-card-height-full: 30vw;
$landing-card-height-mobile: 60vw;
